@using BBC.Models
@using System.Linq
@using BBC.Classes
@using BBC.Factories
@using BBC.Repositories
@using BBC.SCExtensions.DI
@using BBC.SCExtensions.DI.Pipelines
@using Glass.Mapper.Sc
@using SimpleInjector
@model IEnumerable<INews>

@{

    foreach (var item in Model)
    {
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-3">
                            @Html.Glass().RenderImage(item, x => x.Logo)
                        </div>
                        <div class="col-md-9">
                            <h4 class="panel-title" style="word-wrap: break-word">
                                <a href="@item.TemplateUrl">@item.Title</a>
                            </h4>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    }
}